extends ../shared/template

block content
  h1= title

  form(method='post', action='/login')
    input(type='email', name='email', placeholder='Email', autofocus=true)
    input(type='password', name='password', placeholder='Password')
    button Login
